<section class="home-bg col-xl-12 col-lg-12 col-md-12 col-sm-12" id="home-bg">
    <div class="title" style="padding-top: 70px;">
        <img src="/icon/star-regular.svg" alt="" srcset="">
        <h1>
            <em>Welcome</em>
        </h1>
        <img src="/icon/star-regular.svg" alt="" srcset="">
    </div>
    <div class="container">
        <img src="/images/logos/logo.JPG">
        <p class="pt-4" style="font-weight: 600;"><em>An unparalleled experience</em></p>
        <p><em class="arabic" style="font-size:30px ;">تجربه ليس لها مثيل</em></p>
    </div>
</section>