<section class="footer">
    <footer class="container">
        <div class="footer-left">
            <h3><em>Opening hours</em></h3>
            <p>
                <span class="days">
                    Monday - Friday
                </span>
                <span class="time">
                    10:00 - 11:00
                </span>
            </p>
            <p>
                <span class="days">
                    Sunday
                </span>
                <span class="time">
                    10:00 - 11:00
                </span>
            </p>
            <p>
                <span class="days">
                    Saturday
                </span>
                <span class="time">
                    10:00 - 11:00
                </span>
            </p>

            <p class="happy-hour">
                <span class="days">
                    * Happy hour
                </span>
                <span class="time">
                    2:00 - 9:00
                </span>
            </p>
        </div>
        <div class="footer-center">
            <a>
                <img src="/images/logos/logo2.jpg" alt="logo" width="200px" height="100px">
            </a>
            <p>edencoffeuae</p>
            <p>Email : edencoffeuae@gmail.com</p>
            <p>phone : 067675959</p>
            <p>phone : 0507209197</p>
            <p>WhatsApp : 0507209197</p>
        </div>
    </footer>
    <footer class="copyright">
        <p>@copyright <em>edencoffeuae</em>2022 </p>
    </footer>
</section>