<nav class="nav ">
    <div class="menu">
        <a class="nav-link" role="button">
            <div class="icon"></div>
            <div class="icon two"></div>
            <div class="icon"></div>
        </a>
    </div>
    <a class="" href="/"><img src="/images/logos/logo.JPG" class="logo" /></a>
    <div class="nav-left d-flex">
        <a href="/add-cart" class="ml-3 mr-3"><img src="/icon/cart.svg" alt="cart" class="cart-icon"></a>
    </div>
</nav>